{% extends "base_logged_in.html" %}

{% block content %}

<div class="container">
    <div class="row gap-1">
        <div class="row p-1 bg-body-tertiary rounded border border-light-subtle">
            <h5>Final Task Analytics</h5>
        </div>
        <div class="row gap-1">
            <div class="col p-2 bg-body-tertiary rounded border border-light-subtle">
                Analytics 1
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="col p-2 bg-body-tertiary rounded border border-light-subtle">
                Analytics 2
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="col p-2 bg-body-tertiary rounded border border-light-subtle">
                Analytics 3
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="row bg-body-tertiary rounded border border-light-subtle">
            <div>Green Index Visual Analytics</div>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="row gap-1">
            <button class="col btn btn-primary">
                Save
            </button>
            <button class="col btn btn-primary">
                Download
            </button>
        </div>        
    </div>
</div>



{% endblock content %}
