{% extends "base_logged_in.html" %}

{% block content %}

<div class="container">
    <div class="col p-1 mb-1 bg-body-tertiary rounded border border-light-subtle">
        <h5>AI Model Management</h5>
    </div>
    <div class="row align-items-start gap-1">
        <div class="row gap-1">
            <div class="col p-1 bg-body-tertiary rounded border border-light-subtle">
                <div class="row gap-1 m-0">
                    <button class="btn btn-primary">Model 01</button>
                    <button class="btn btn-primary">Model 02</button>
                    <button class="btn btn-primary">Model 03</button>
                </div>
            </div>
            <div class="col p-1 bg-body-tertiary rounded border border-light-subtle">
                <div class="row gap-1 m-0">
                    <button class="btn btn-primary">Model Analysis</button>
                    <button class="btn btn-primary">Distillation</button>
                    <button class="btn btn-primary">Fine Tuning</button>
                    <button class="btn btn-primary">XAI</button>
                </div>
            </div>
            <div class="col p-1 bg-body-tertiary rounded border border-light-subtle">
                Task Details/Report
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="row gap-1">
            <button class="col btn btn-primary">
                Upload Model
            </button>
            <button class="col btn btn-danger">
                Delete Model
            </button>
            <button class="col btn btn-primary">
                Download / Export
            </button>
        </div>        
    </div>
</div>



{% endblock content %}
