{% extends "base_logged_in.html" %}

{% block content %}

<div class="container">
    <div class="row row-cols-3">
        <div class="box col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            <div>Step1</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Option A
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Option B
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Option C
                </label>
            </div>
        </div>
        <div class="col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            <div>Step2</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Option A
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Option B
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Option C
                </label>
            </div>            
        </div>
        <div class="col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            <div>Step3</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Option A
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Option B
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Option C
                </label>
            </div>
        </div>
        <div class="col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            <div>Step4</div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Model</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
        <div class="col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            <div>Step5</div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Dataset</label>
                <input class="form-control" type="file" id="formFile">                
            </div>
            <div>Select Dataset</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    A
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    B
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    C
                </label>
            </div>
        </div>        
        <div class="col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            <div>Step6</div>
            <div>Meta Options</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    A
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    B
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    C
                </label>
            </div>
        </div>
        <button class="btn btn-primary col">
            <a href="/polls/human-reinforced-feedback/" class="px-0 text-black align-middle link-dark link-underline-dark link-underline-opacity-25 link-underline-opacity-50-hover">
                <span class="ms-1 d-none d-sm-inline">Start Process</span></a>
            
        </button>
    </div>
</div>



{% endblock content %}
