{% extends "base_logged_in.html" %}

{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

{% block content %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<div class="container">
    <div class="row">
        <div class="col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            Personal Info
        </div>
        <div class="col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            Personal Analytics
        </div>
        <div class="col p-3 mb-5 bg-body-tertiary rounded border border-light-subtle">
            <div class="row p-3 mb-5 bg-body rounded border border-light-subtle">
                Profile Views
            </div>
            <div class="row p-3 mb-5 bg-body rounded border border-light-subtle">
                Overall Green Index
            </div>
        </div>
    </div>
</div>

    
{% endblock content %}
    